<h1>Todo List</h1>
<div>
  <input #newTodo type="text" (keyup)="0"/>
  <p>{{newTodo.value}}</p>
  <button (click)="todosService.addTodoItem(newTodo.value)">Add</button>
  <button (click)="todosService.deleteTodoItem()">Delete</button>
  </div>
<ul>
  <li *ngFor="let todoItem of todosService.todos">
    <p>{{newTodo.value}}</p>
    <p>Status: {{todoItem.status}}</p>
    <input type="checkbox" class="checkbox" [(ngModel)]="todoItem.completed" />
    <a href="#" (click)="todosService.deleteSelectedTodos()" >x</a>
    </li>
</ul>
  <button *ngFor="let status of statusesSet" (click)="todosService.filter(status)">{{status}}</button>
