  <h1>Todo List</h1>
  <div>
  <input #newTodo type="text" (keyup.enter)="addTodoItem(newTodo.value, $event); newTodo.value=''"/>
  <button (click)="addTodoItem(newTodo.value, $event); newTodo.value=''">Add Todo</button>
  </div>
  <ol>
  <li *ngFor="let todoItem of todosService.getTodos(); let i=index">
    <p><span [ngClass]="{'completedTodo': todoItem.completed}">{{todoItem.name}}</span></p>
    <p  >Status: {{todoItem.status}}</p>
    <input
      type="checkbox"
      class="checkbox"
      [(ngModel)]="todoItem.completed"
      (ngModelChange)="changeStatus(todoItem, $event)"/>
    <a href="#" (click)="todosService.deleteTodo(i)">[X]</a>
    </li>
  </ol>
  <button *ngFor="let status of todosService.statusesSet" (click)="todosService.filter(status)">{{status}}</button>
